.titleBuy {
    margin-top: 50px;
    text-align: center;
    color: saddlebrown;
    font-family: "Bradley Hand ITC";
    font-size: 30px
}
.spare {
    text-align: center;
    color: #9CEBF2;
    font-size: 30px
}
.description {
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times serif;
    line-height: 30px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80%;
}
.money {
    text-align: center;
}
.button {
    border: none;
    background-color: #9CEBF2;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logo {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.buy-window {
    position: fixed;
    background-color: #fff;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 100001;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(32,43,54,0.12);
    padding: 40px;
    text-align: center;
    color: #333;
    overflow: scroll;
}
.buy-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    opacity: 0.8;
    z-index: 100000;
}

.moneymoneymoney {
    text-align: center;
    color: black;
    font-size: 55px
}

.moneyarrow {
    width:10%;
    height:10%;
    margin-top: 10px;
}
