* {
    boz-sizing: border-box;
}
.title {
    margin-top: 10px;
    text-align: center;
    color: saddlebrown;
    font-family: "Bradley Hand ITC";
    font-size: 20px
}
.logo {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

#button_arr
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.charity-window {
    position: fixed;
    background-color: #fff;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 100001;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(32,43,54,0.12);
    padding: 40px;
    text-align: center;
    color: #333;
    overflow: scroll;
}
.charity-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    opacity: 0.8;
    z-index: 100000;
}

.pic {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
}

#logo-holder {
    position:relative; /*dimensions of image*/
}
#logo-holder .image {
    max-height: 300px;
    max-width: 300px;
    width: 33vh;
    height: 33vh;
}
#logo-holder .text {transition: opacity 0.3s ease-in-out;}
#logo-holder .text {position:absolute; top:2vh; right:0.7vh; opacity:0; padding-left: 2vh; padding-right:1.5vh;}
#logo-holder .test_button {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    /*max-width: 150px;*/
    text-decoration: none;
}

#logo-holder .test_button figure {
    margin: 0 0 15px;
}

#logo-holder .test_button figure img {
    /*height: 33vh;*/
    /*width: 33vh;*/
    /*max-width: 100px;*/
    /*max-height: 100px;*/
}
#logo-holder:hover figure {opacity:0;}
#logo-holder:hover .text {opacity:1;}

#button_arr1 {
    width: 100%;
    text-align: center;
}


#logo-holder1 {
    position:relative; /*dimensions of image*/
}
#logo-holder1 .image {
    max-height: 300px;
    max-width: 300px;
    width: 33vh;
    height: 33vh;
}
#logo-holder1 .text {transition: opacity 0.3s ease-in-out;}
#logo-holder1 .text {position:absolute; top:2vh; right:0.7vh; opacity:0; padding-left: 2vh; padding-right:1.5vh;}
#logo-holder1 .test_button {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    /*max-width: 150px;*/
    text-decoration: none;
}

#logo-holder1 .test_button figure {
    margin: 0 0 15px;
}

#logo-holder1 .test_button figure img {
    /*height: 33vh;*/
    /*width: 33vh;*/
    /*max-width: 100px;*/
    /*max-height: 100px;*/
}
#logo-holder1:hover figure {opacity:0;}
#logo-holder1:hover .text {opacity:1;}

#logo-holder2 {
    position:relative; /*dimensions of image*/
}
#logo-holder2 .image {
    max-height: 300px;
    max-width: 300px;
    width: 33vh;
    height: 33vh;
}
#logo-holder2 .text {transition: opacity 0.3s ease-in-out;}
#logo-holder2 .text {position:absolute; top:2vh; right:0.7vh; opacity:0; padding-left: 2vh; padding-right:1.5vh;}
#logo-holder2 .test_button {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    /*max-width: 150px;*/
    text-decoration: none;
}

#logo-holder2 .test_button figure {
    margin: 0 0 15px;
}

#logo-holder2 .test_button figure img {
    /*height: 33vh;*/
    /*width: 33vh;*/
    /*max-width: 100px;*/
    /*max-height: 100px;*/
}
#logo-holder2:hover figure {opacity:0;}
#logo-holder2:hover .text {opacity:1;}
