.title {
    margin-top: 50px;
    text-align: center;
    color: saddlebrown;
    font-family: "Bradley Hand ITC";
    font-size: 30px
}
.spare {
    text-align: center;
    color: #9CEBF2;
    font-size: 30px
}
.description {
    text-align: center;
    font-size: 40px
}
.money {
    text-align: center;
}
.button {
    background-color: #9CEBF2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logo {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}

.charity-window {
    position: fixed;
    background-color: #fff;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 100001;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(32,43,54,0.12);
    padding: 40px;
    text-align: center;
    color: #333;
    overflow: scroll;
}
.charity-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    opacity: 0.8;
    z-index: 100000;
}

.pic {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}