body {
    width: 320px;
    height: 500px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: #eee;
}

header * {
    display: inline;
    height: 50px;
    margin-left: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: -25px;
}



.title {
    margin-top: 50px;
    text-align: center;
    color: saddlebrown;
    font-family: "Bradley Hand ITC";
    font-size: 30px
}

.text {
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80%;
}

.pic {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-family: "Gill Sans MT";
    font-size: 13px;
    text-align: center;
}

.pause {
    background-color: white;
    border: 1px solid darkred;
    color: darkred;
    padding: 8px;
    width: 300px;
    text-align: center;
    font-family: "Gill Sans MT";
    font-size: 13px;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.pause:hover {
    background-color: darkred;
    color: white;
}


.resume {
    background-color: white;
    border: 1px solid green;
    color: green;
    width: 300px;
    padding: 8px;
    text-align: center;
    font-family: "Gill Sans MT";
    font-size: 13px;
    margin: 0 auto;
    border-radius: 8px;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.resume:hover {
    background-color: green;
    color: white;
}


.amount {
    text-align: center;
    color: green;
    background-color: lightyellow;
    margin: 0px 15px;

}

.stats {
    border-radius: 15px;
    padding: 5px;
    margin: 0 15px;

}

.linkToData {
    font-weight: bold;
}

.button {
    background-color: aqua;
    border: blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: cornflowerblue;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}