.title{
    position: relative;
    right: -560px;
    top: 0px;
    font-family: "Bradley Hand ITC";
    font-weight: bold;
    font-size: 35px;
    color: saddlebrown;

}



.goal{
    position: relative;
    right: -350px;
    top:80px;
    font-size: 16px;
}


.meter1Percent{
    position: relative;
    right: -500px;
    top: 375px;
    font-weight: bold;

}
.meter2Percent{
    position: relative;
    right: -651px;
    top: 349px;
    font-weight: bold;
}
.meter3Percent{
    position: relative;
    right: -809px;
    top: 321px;
    font-weight: bold;
}

.meter1dollar{
    position: relative;
    right: -485px;
    top: -204px;
    font-size: 15px;
    font-weight: bold;
}
.meter2dollar{
    position: relative;
    right: -645px;
    top: -235px;
    font-size: 15px;
    font-weight: bold;
}
.meter3dollar{
    position: relative;
    right: -800px;
    top: -267px;
    font-size: 15px;
    font-weight: bold;
}


.hungerLabel{
    color: rgba(145, 86, 53, 0.98);
    position: relative;
    right: -472px;
    font-weight: bold;
    font-size: 17px;
    top: 458px;
}
.educationLabel{
    color: rgba(113, 113, 113, 0.98);
    position: relative;
    right: -615px;
    font-weight: bold;
    font-size: 17px;
    top: 383px;
}
.healthLabel{
    color: rgba(59, 157, 169, 0.98);
    position: relative;
    right: -790px;
    font-weight: bold;
    font-size: 17px;
    top: 420px;
}


.meter1 {
    height: 30px;  /* Can be anything */
    width: 400px;
    position: relative;
    right: -300px;
    top: -85px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.meter1 > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #8a5232;
    background-image: linear-gradient(to bottom, #eb9063, #ba6448);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}


.meter2 {
    height: 30px;  /* Can be anything */
    width: 400px;
    position: relative;
    right: -455px;
    top: -135px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.meter2 > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #717171;
    background-image: linear-gradient(to bottom, #f9f4f2, #d8d2ce);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;

    overflow: hidden;
}


.meter3 {
    height: 30px;  /* Can be anything */
    width: 400px;
    position: relative;
    right: -613px;
    top: -185px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.meter3 > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #48b2b7;
    background-image: linear-gradient(to bottom, #8be5e3, #3ca0a9);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}


.orange > span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

body {
    background-color: rgba(249, 246, 246, 0.86);
}




