
h1{
    color: rgba(0, 29, 9, 0.98);
}

.meter1Percent{
<<<<<<< HEAD
    position: absolute;
    right: 187vh;
    top: 530px;
}
.meter2Percent{
    position: absolute;
    right: 177vh;
    top: 530px;
}
.meter3Percent{
=======
>>>>>>> c9ad03d6f69c93faa43463b9c2dd05e296af0cba
    position: fixed;
    right: 1355px;
    top: 530px;
}
.meter2Percent{
    position: fixed;
    right: 1250px;
    top: 530px;
}
.meter3Percent{
    position: fixed;
    right: 1140px;
    top: 530px;
}

.meter1dollar{
<<<<<<< HEAD
    position: absolute;
    right: 187vh;
    top: 145px;
}
.meter2dollar{
    position: absolute;
    right: 177vh;
    top: 145px;
}
.meter3dollar{
=======
>>>>>>> c9ad03d6f69c93faa43463b9c2dd05e296af0cba
    position: fixed;
    right: 1355px;
    top: 145px;
}
.meter2dollar{
    position: fixed;
    right: 1250px;
    top: 145px;
}
.meter3dollar{
    position: fixed;
    right: 1145px;
    top: 145px;
}


.hungerLabel{
    color: rgba(0, 29, 9, 0.98);
    position: fixed;
    right: 1345px;
    top: 510px;
}
.educationLabel{
    color: rgba(0, 29, 9, 0.98);
    position: fixed;
    right: 1230px;
    top: 510px;
}
.healthLabel{
    color: rgba(0, 29, 9, 0.98);
    position: fixed;
    right: 1135px;
    top: 510px;
}


.meter1 {
    height: 20px;  /* Can be anything */
    width: 300px;
    position: relative;
    right: 100px;
    top: 180px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.meter1 > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #228019;
    background-image: linear-gradient(to bottom, #adf127, #1af367);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}


.meter2 {
    height: 20px;  /* Can be anything */
    width: 300px;
    position: relative;
    left: 5px;
    top: 140px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.meter2 > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #228019;
    background-image: linear-gradient(to bottom, #adf127, #1af367);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;

    overflow: hidden;
}


.meter3 {
    height: 20px;  /* Can be anything */
    width: 300px;
    position: relative;
    left: 113px;
    top: 100px;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.meter3 > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    background-color: #228019;
    background-image: linear-gradient(to bottom, #adf127, #1af367);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}


.orange > span {
    background-color: #f1a165;
    background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

body {
    background-color: rgba(249, 246, 246, 0.86);
}



