.thank-window {
    position: fixed;
    background-color: #fff;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    z-index: 100001;
    border-radius: 5px;
    box-shadow: 0 20px 80px rgba(32,43,54,0.12);
    padding: 40px;
    text-align: center;
    color: #333;
    overflow: scroll;
}
.thank-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #555;
    opacity: 0.8;
    z-index: 100000;
}
.logo {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
}